<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geoassist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.codepath.adhoc.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAe9Dsh-SaI3xG4YrciUYCwEeMXjX9mMqI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.geoassist.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geoassist.NewProjectActivity"
            android:label="@string/title_activity_new_project"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.AddSiteActivity"
            android:label="@string/title_activity_new_site"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.geoassist.NotesActivity"
            android:label="@string/title_activity_notes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.MainMap"
            android:label="@string/title_activity_main_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.MineralMain"
            android:label="@string/title_activity_mineral_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.AddMineralActivity"
            android:label="@string/title_activity_add_mineral"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.ContactMain"
            android:label="@string/title_activity_contact_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.FoldMain"
            android:label="@string/title_activity_fold_main"
            android:parentActivityName="com.geoassist.BaseActionBarActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geoassist.RockDetails"
            android:label="@string/title_activity_rock_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.geoassist.MetamorphicActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dike_activiry" >
        </activity>
        <activity
            android:name="com.geoassist.MetmorphicAddition"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_metmorphic_addition" >
        </activity>
    </application>

</manifest>